.container-fluid {
    background-color: #3A1741;
    padding: 0 0;
}

.homelogo{
    background-color: #3a1741;
    /*height: 706px;*/
    /*width: 561px;*/
    /*!*background-image: url("../../../Images/openChannel_indexpic.png");*!*/
    /*background-position: left;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}

.card-body {
    background-color: white;
}

.loginColumn {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}