.newItem {
    background-color: #106374;
    /*display: flex;*/
    /*flex-direction:column;*/
    height: 400px;
    width: 100vw;
    color: #B4FEA2;
}

.itemsSection {
    background-color: #106374;
    display: flex;
    flex-direction:column;
    height: 400px;
    width: 100vw;
    color: #B4FEA2;

}

.goalItempage {
    background-color: white;
}

.description {
    background-color: #3A1741;
    color: white;
    border-radius: 14px;
    border: solid #3A1741;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    margin-left: 650px;
    /*margin: 10px;*/
    /*margin-left: 20px;*/
}

.updateButton {
    background-color: #4CAF50;
    display: flex;
    flex-direction: row;
    border-radius: 12px;

}

.inProgress {
    background-color: #4CAF50;
    width: 10vw;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}